ConsoleApplication1/Service References/VilaniTranslatorServices/VilaniTranslatorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VilaniTranslatorServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3115/VilaniTranslatorServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3115/VilaniTranslatorServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3115/VilaniTranslatorServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVilaniTranslatorServices_TranslateStringArray_InputMessage">
    <wsdl:part name="parameters" element="tns:TranslateStringArray" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_TranslateStringArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranslateStringArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToEnglish_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToEnglish" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToEnglish_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToEnglishResponse" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToEnglishArray_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToEnglishArray" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToEnglishArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToEnglishArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToMarathi_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToMarathi" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToMarathi_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToMarathiResponse" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToMarathiArray_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToMarathiArray" />
  </wsdl:message>
  <wsdl:message name="IVilaniTranslatorServices_ConvertToMarathiArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToMarathiArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="IVilaniTranslatorServices">
    <wsdl:operation name="TranslateStringArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/TranslateStringArray" message="tns:IVilaniTranslatorServices_TranslateStringArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/TranslateStringArrayResponse" message="tns:IVilaniTranslatorServices_TranslateStringArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToEnglish">
      <wsdl:input wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToEnglish" message="tns:IVilaniTranslatorServices_ConvertToEnglish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToEnglishResponse" message="tns:IVilaniTranslatorServices_ConvertToEnglish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToEnglishArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToEnglishArray" message="tns:IVilaniTranslatorServices_ConvertToEnglishArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToEnglishArrayResponse" message="tns:IVilaniTranslatorServices_ConvertToEnglishArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToMarathi">
      <wsdl:input wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToMarathi" message="tns:IVilaniTranslatorServices_ConvertToMarathi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToMarathiResponse" message="tns:IVilaniTranslatorServices_ConvertToMarathi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToMarathiArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToMarathiArray" message="tns:IVilaniTranslatorServices_ConvertToMarathiArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVilaniTranslatorServices/ConvertToMarathiArrayResponse" message="tns:IVilaniTranslatorServices_ConvertToMarathiArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVilaniTranslatorServices" type="tns:IVilaniTranslatorServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TranslateStringArray">
      <soap:operation soapAction="http://tempuri.org/IVilaniTranslatorServices/TranslateStringArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToEnglish">
      <soap:operation soapAction="http://tempuri.org/IVilaniTranslatorServices/ConvertToEnglish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToEnglishArray">
      <soap:operation soapAction="http://tempuri.org/IVilaniTranslatorServices/ConvertToEnglishArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToMarathi">
      <soap:operation soapAction="http://tempuri.org/IVilaniTranslatorServices/ConvertToMarathi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToMarathiArray">
      <soap:operation soapAction="http://tempuri.org/IVilaniTranslatorServices/ConvertToMarathiArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VilaniTranslatorServices">
    <wsdl:port name="BasicHttpBinding_IVilaniTranslatorServices" binding="tns:BasicHttpBinding_IVilaniTranslatorServices">
      <soap:address location="http://localhost:3115/VilaniTranslatorServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>